@keyframes animation1 {
    0% {transform: scale(1.2);border: 0.3vw solid var(--animation-color); opacity: 0.8;}
    100% {transform: scale(2);border: 0 solid var(--animation-color); opacity: 0.0;}
}

@keyframes animation2 {
    0% {transform: scale(1.2);border: 0.3vw solid var(--animation-color); opacity: 0.8;}
    100% {transform: scale(2);border: 0 solid var(--animation-color); opacity: 0.0;}
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
  }

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
    }
}

@keyframes press {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.95);
    }
}