@font-face {
    font-family:'genshin impact';
    src: url('zh-cn.woff2') format('truetype');
}

body {
    background: url('../img/bg.png') no-repeat center fixed;
    user-select: none;
    background-size: cover;
}
