:root {
    --input-color: #ede5d8;
    --background-text1: #d3bc8e;
    --background-text2: rgb(236,229,216);
    --foreground-text: #3b4255;
    --dialog-background-color: #3e4556;
    --dialog-shadow-color1: rgb(60, 67, 83);
    --dialog-shadow-color2: rgb(57, 62, 82);
    --selection-color: rgb(172,157,127);
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0.6vw 0 0 2.5vw;
}

.toolbar{
    top: 2vw;
    right: 2vw;
    width: max-content;
    height: max-content;
    position: fixed;
    display: flex;
}

.window-title {
    font-size: 1.5vw;
    margin: 0.5vw;
    display: inline-block;
    color: var(--background-text1);
    font-family: 'genshin impact', Fallback, sans-serif;
}

.music {
    width: 2vw;
    height: 2vw;
    border-radius: 999px;
    background-color: var(--background-color);
    box-shadow: 0 0 0.1vw 0.4vw var(--box-shadow-color1),
    0 0 0.1vw 0.6vw var(--box-shadow-color2);
    margin-left: 2vw;
}

.music:hover {
    background-color: rgb(161, 161, 148);
    box-shadow: 0 0 0.1vw 0.6vw rgb(172, 172, 152, 0.8);
}

.music:active {
    background-color: var(--background-color-hover1);
    box-shadow: 0 0 0.1vw 0.6vw var(--background-color-hover2);
}

.musicClef {
    width: 2vw;
    height: 2vw;
    top: -0.4vw;
    font-size: 2vw;
    font-weight: 900;
    text-align: center;
    position: absolute;
    display: inline-block;
}

.musicClef:active {
    color: rgba(255, 255, 255, 0.8);
}

.input {
    width: 36vw;
    height: 22vw;
    z-index: 999;
    position: fixed;
    top: calc(50% - 11vw);
    right: calc(50% - 18vw);
    background-color: var(--dialog-background-color);
    font-family: 'genshin impact', Fallback, sans-serif;
    box-shadow: 0 0 0 0.1vw rgb(75, 79, 89),
    0 0 0.1vw 0.3vw var(--dialog-shadow-color1),
    0 0 0.1vw 0.6vw var(--dialog-shadow-color2),
    0 0 0 100vw rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.input-active {
    animation: fadeIn 0.16s ease-in-out 0s;
    visibility: visible;
}

.input-inactive {
    animation: fadeOut 0.16s ease-in-out 0s;
    visibility: hidden;
}

.textareaInput {
    border: 0;
    resize: none;
    z-index: 999;
    width: 30.8vw;
    height: 12.1vw;
    font-size: 1vw;
    padding: 0.6vw;
    margin: 0.8vw 2vw;
    word-break:break-all;
    color: var(--background-text2);
    background-color: rgb(53, 61, 79);
    outline: 0.15vw solid rgb(93, 93, 95);
    font-family: 'genshin impact', Fallback, sans-serif;
}

/*滚动条大小*/
.textareaInput::-webkit-scrollbar {
    width: 0.5vw;
}
/*正常情况下角落和主干部分的样式*/
.textareaInput::-webkit-scrollbar-corner,
.textareaInput::-webkit-scrollbar-track {
    opacity: 0;
}
/*正常情况下滑块的样式*/
.textareaInput::-webkit-scrollbar-thumb {
    border-radius: 0.5vw;
    background: rgba(0, 0, 0, 0.3);
}
/*鼠标悬浮在该类指向的控件上时滑块的样式*/
.textareaInput:hover::-webkit-scrollbar-thumb {
    background: rgb(235, 229, 216);
}
/*鼠标悬浮在滑块上时滑块的样式*/
.textareaInput::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 195, 191);
}
/*鼠标悬浮在滚动条上的主干部分*/
.textareaInput::-webkit-scrollbar-track:hover {
    border-radius: 0.5vw;
    background: rgba(0, 0, 0, 0.1);
}

.textareaInput::-webkit-input-placeholder {
    font-size: 1.4vw;
    text-align: center;
    line-height: 12.1vw;
    color: rgb(94, 108, 124);
}

.textareaInput:focus {
    outline: 0.15vw solid rgb(93, 93, 95);
}

.textareaInput::selection {
    background-color: var(--selection-color);
}

.bpm:focus {
    outline: none;
}

.bpmText {
    width: 3vw;
    height: 2vw;
    font-size: 1vw;
    display: inline;
    margin: 0.6vw 0 0 2.5vw;
    color: var(--background-text1);
}

.settingsField{
    display: flex;
    align-items: center;
    font-size: 1vw;
    color: var(--background-text1);
}

.bpm {
    border: 0;
    width: 6vw;
    height: 2vw;
    font-size: 1vw;
    padding: 0 0.5vw;
    border-radius: 1vw;
    margin: 0.6vw 0.5vw;
    color: var(--foreground-text);
    background-color: var(--input-color);
    font-family: 'genshin impact', Fallback, sans-serif;
}

.choice {
    width: 18vw;
    height: 3.2vw;
    font-size: 1vw;
    display: inline-flex;
    justify-content: space-around;
}

.musicalInstrument {
    width: 2vw;
    height: 2vw;
    display: inline-block;
    position: relative;
    top: 0.6vw;
    border-radius: 50%;
    background-size: cover;
    border: none;
    background-color: #ede5d8;
}

.musicalInstrument:hover {
    filter: drop-shadow(0 0 0.4vw #ede5d8);
}

.musicalInstrument:active {
    box-shadow: 0 0 1vw 0.1vw #ede5d8 inset;
}

.checked {
    background-color: #ede5d8;
}

.closeMusic {
    width: 2vw;
    height: 2vw;
	float: right;
    display: block;
    font-size: 2vw;
    font-weight: 900;
    border-radius: 1vw;
    text-align: center;
    margin: 0.2vw 1vw 0 0;
    color: rgb(174, 159, 128);
    transform: rotate(45deg) scaleX(1.6);
    font-family: 'genshin impact', Fallback, sans-serif;
}

.closeMusic:hover {
    color: rgb(209, 195, 157);
}

.closeMusic:active {
    color: rgb(81, 84, 93);
}

.closeMusic::after {
    left: 0.1vw;
    top: -2.7vw;
    display: block;
    content: '\2B0C';
    text-align: center;
    position: relative;
    transform: rotate(90deg) scale(1.6, 0.625);
}

.buttonGroup {
    display: flex;
    justify-content: space-evenly;
}

.start, .pause, .clear {
    border: 0;
    padding: 0;
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    margin: 0.6vw 0;
    line-height: 2vw;
    border-radius: 1vw;
    background-color: var(--input-color);
    color: var(--foreground-text);
    font-family: 'genshin impact', Fallback, sans-serif;
    transition-property: color;
    transition-duration: 0.15s;
    cursor: pointer;
}

.start:hover {
    color: rgb(255, 203, 50);
}

.start:active {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(255, 203, 50);
}

.pause:hover {
    color: rgb(113, 176, 253);
}

.pause:active {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(113, 176, 253);
}

.clear:hover {
    color: rgb(205, 125, 116);
}

.clear:active {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(205, 125, 116);
}

.start::before, .pause::before, .clear::before {
    float: left;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 100%;
    margin: 0.3vw 0 0 0.4vw;
    background-color: rgb(49, 49, 49);
}

.start::before {
    content: '';
    box-shadow: 0 0 0 0.35vw rgb(49, 49, 49) inset,
    0 0 0 0.45vw rgb(255, 203, 50) inset,
    0 0 0 0.7vw rgb(49, 49, 49) inset;
}

.pause::before {
    content: '\2716';
    line-height: 1.55vw;
    color: rgb(56, 161, 228);
}

.clear::before {
    content: '\25C7';
    font-weight: 900;
    line-height: 1.55vw;
    color: rgb(205, 125, 116);
}

.line0-1, .line0-2 {
	border: 0;
	margin: 0.1vw 2vw;
	box-shadow: 0 0 0 0.06vw rgb(81, 84, 93);
}

.music-color {
    color: var(--note-color);
}

.instrumentSelection {
    top: 2vw;
    left: 2vw;
    position: absolute;
}

.modeSelection {
    display: inline;
}

.combo-box {    
    padding: 5px 12px 5px 12px;
    border-radius: 999px;
    color: var(--foreground-text);
    min-width: 8vw;
    background-color: var(--background-color);
    font-family: 'genshin impact', Fallback, sans-serif;
}

.combo-items {
    display: none;
    background-color: var(--dialog-background-color);
    color: var(--input-color);
    border-radius: 1vw;
    min-width: 8vw;
    position: absolute;
    padding: 2px;
}

.combo-box:hover .combo-items {
    display: block;
}

.combo-box p {
    margin: 2px;
    padding: 5px;
    border-radius: 999px;
}

.combo-box p:hover {
    background-color: #4f5870;
}

.settingsText{
    display: inline;
}